.test{
    background-color: darkslategrey;
    font-size: 40px;
}
.test2{
    background-color: dodgerblue;
    font-size: 40px; 
}
.show-pass{
    background-color: forestgreen;
    font-size: 40px;
}